#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";

            bindings = <
                &kp ESC       &kp TAB       &kp C_PREV    &kp C_PP      &kp C_NEXT
                &kp C_MUTE    &kp C_VOL_DN  &kp C_VOL_UP  &kp CUT       &kp COPY
                &kp PASTE     &kp UNDO      &bt BT_CLR
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };
};
